.main-content {
    .container-fluid;
    margin-bottom: @padding-large-vertical;
    background-image: url('../../../img/strategy.jpg');
    background-size: cover;
    .ui-view {
        .make-row();
    }
}

@media (max-width: @screen-sm) {
    .main-content {
        background-image: none;
        background-color: #a4927e;
    }
}