<div class="footer">
    <div class="container">
        <div class="media-component">
            <div class="media-group">
                <div class="media">
                    <div class="media-left">
                        <a href="http://www.ypfdl.org/scott-blamey-2014-future-5/" target="_blank">
                            <img title="Click to read more" class="media-object" src="public/assets/img/logo-ypf.gif" alt="Young Professionals of Fond du Lac logo">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">"Future 5" Awardee</h4>
                        <div class="media-copy">
                            <p>"Co-founder of the Emergent Technology Center, R. Scott Blamey is described as a catalyst for change; Blamey is not someone who waits for the next big thing. He is usually the one with the idea, leading the charge and inspiring those around him to join in and make a difference. And that is exactly what he has been up to. In April of 2014, Blamey co-founded the Emergent Technology Center – a mentor-driven emerging technologies seed accelerator serving entrepreneurs in northeastern Wisconsin. This initiative is expected to generate new types of businesses for Fond du Lac and allow technology to rise to the forefront. Understanding the importance of attracting, developing and retaining advanced IT talent in the Fond du Lac area, Blamey is committed to continued growth and thanks to his many contributions, additional expansion is already in the works."</p>
                        </div>
                        <a class="readmore" href="http://www.ypfdl.org/scott-blamey-2014-future-5/" target="_blank">Read the full article</a>
                    </div>
                </div>
            </div>
            <div class="media-group">
                <div class="media">
                    <div class="media-left">
                        <a href="https://www.linkedin.com/in/rscottblamey" target="_blank">
                            <img title="Click to read more" class="media-object" src="public/assets/img/Scott-Blamey-Professional.jpg" alt="R. Scott Blamey - Professional Photo">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Developer</h4>
                        <div class="media-copy">
                            <p>Project Manager, Frontend Developer, Business/Systems Analyst, and respected team leader with a keenness for Agile, Six Sigma and Lean methodologies. MBA with fifteen years IT management and development experience.  Driven to continually improve systems in the workplace, and uniquely qualified with both IT experience and business acumen.</p>
                        </div>
                        <a class="readmore" href="https://www.linkedin.com/in/rscottblamey" target="_blank">Learn more on LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="media-group">
                <div class="media">
                    <div class="media-left">
                        <a href="https://www.facebook.com/rscott.blamey" target="_blank">
                            <img title="Click to read more" class="media-object" src="public/assets/img/facebook-profile.jpg" alt="R. Scott Blamey - Facebook Profile Photo">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Adventurer</h4>
                        <div class="media-copy">
                            <p>Husband and father. Barefooter. Snowmobile racer. Watercrosser. Sledfooter. Jeepaholic. Community member. Monitor collector. Caffeine addict. Are you really reading this?</p>
                        </div>
                        <a class="readmore" href="https://www.facebook.com/rscott.blamey" target="_blank">Stalk me on Facebook</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="legal">
            <div class="contact">
                R. Scott Blamey, <a href="mailto:rscott@theblameys.net">rscott@theblameys.net</a>
            </div>
            <div class="sociallinks">
                <a href="https://www.linkedin.com/in/rscottblamey">LinkedIn</a>
            </div>
        </div>
    </div>
</div>